*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #673147;
    font-family: "Rubik", sans-serif;
}

section {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

section #social {
    text-align: center;
    transform: translateZ(0);
}

section #social h1 {
    margin: 0 5px 15px;
    color: #FFDEAD;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

section #social li {
    width: 120px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    list-style: none;
}

section #social li div {
    width: 120px;
    height: 120px;
    color: #088F8F;
    font-size: 3.5rem;
    text-align: center;
    line-height: 120px;
    background-color: #FFF5EE;
    border-radius: 10px;
    transition: all 0.5s ease;
}

section #social li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
}

section #social li a {
    color: #088F8F;
}

section #social li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #FFDEAD;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}